Repository sunpy/ndcube, pull requests merged in 2020-11, with the labels that each got.

#310 Update common axis when slicing NDCubeSequence.
  changelog/310.bugfix.rst
  docs/ndcube.rst
  ndcube/ndcube_sequence.py
  ndcube/tests/test_ndcubesequence.py
  setup.cfg
Labels: NDCube 2.0 MVP, backport 1.4

#311 Refactor index as cube
  changelog/311.breaking.rst
  docs/ndcubesequence.rst
  ndcube/ndcube.py
  ndcube/ndcube_sequence.py
  ndcube/tests/test_utils_sequence.py
  ndcube/utils/sequence.py
Labels: NDCube 2.0 MVP

#312 Make figure tests work with pytest-mpl 0.12
  .circleci/config.yml
  .gitignore
  MANIFEST.in
  changelog/312.trivial.rst
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_41_sunpy_203.json
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_dev_sunpy_dev.json
  ndcube/tests/helpers.py
  ndcube/tests/test_plotting.py
  setup.cfg
  tox.ini
Labels: NDCube 2.0 MVP

#314 Make pyplot color bar work with 2D output of NDCube.plot and enable NDCube to be passed to WCSAxes as a projection
  changelog/314.feature.1.rst
  changelog/314.feature.2.rst
  ndcube/mixins/plotting.py
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_41_sunpy_203.json
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_dev_sunpy_dev.json
  ndcube/tests/test_plotting.py
Labels: NDCube 2.0 MVP

#316 NDCube.crop
  changelog/316.breaking.rst
  docs/ndcube.rst
  ndcube/ndcube.py
  ndcube/tests/test_ndcube.py
  ndcube/utils/wcs.py
Labels: NDCube 2.0 MVP

#317 Attempting to fix codecov on circle
  .circleci/config.yml
  .codecov.yaml
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#324 Change NDCube.crop API to take lower_corner and upper_corner
  docs/ndcube.rst
  ndcube/ndcube.py
  ndcube/tests/test_ndcube.py
Labels: NDCube 2.0 MVP, No Changelog Entry Needed

#271 Implement Extra Coords for NDCube 2.0
  .pre-commit-config.yaml
  .readthedocs.yml
  changelog/271.feature.rst
  docs/conf.py
  docs/ndcube.rst
  docs/ndcubesequence.rst
  docs/rtd_requirements.txt
  ndcube/__init__.py
  ndcube/conftest.py
  ndcube/extra_coords/__init__.py
  ndcube/extra_coords/extra_coords.py
  ndcube/extra_coords/lookup_table_coord.py
  ndcube/mixins/ndslicing.py
  ndcube/mixins/plotting.py
  ndcube/mixins/plotting_utils.py
  ndcube/mixins/sequence_plotting.py
  ndcube/ndcollection.py
  ndcube/ndcube.py
  ndcube/ndcube_sequence.py
  ndcube/tests/conftest.py
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_41_sunpy_203.json
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_dev_sunpy_dev.json
  ndcube/tests/helpers.py
  ndcube/tests/test_extra_coords.py
  ndcube/tests/test_lookup_table_coord.py
  ndcube/tests/test_ndcollection.py
  ndcube/tests/test_ndcube.py
  ndcube/tests/test_ndcubesequence.py
  ndcube/tests/test_plotting.py
  ndcube/tests/test_plotting_utils.py
  ndcube/tests/test_utils_cube.py
  ndcube/tests/test_utils_sequence.py
  ndcube/tests/test_utils_wcs.py
  ndcube/utils/collection.py
  ndcube/utils/cube.py
  ndcube/utils/sequence.py
  ndcube/utils/wcs.py
  ndcube/wcs/__init__.py
  ndcube/wcs/wrappers/__init__.py
  ndcube/wcs/wrappers/compound_wcs.py
  ndcube/wcs/wrappers/reordered_wcs.py
  ndcube/wcs/wrappers/resampled_wcs.py
  ndcube/wcs/wrappers/tests/__init__.py
  ndcube/wcs/wrappers/tests/conftest.py
  ndcube/wcs/wrappers/tests/test_compound_wcs.py
  ndcube/wcs/wrappers/tests/test_reordered_wcs.py
  ndcube/wcs/wrappers/tests/test_resampled_wcs.py
  setup.cfg
  tox.ini
Labels: NDCube 2.0 MVP

#332 Update to use new gwcs release
  docs/rtd_requirements.txt
  setup.cfg
  tox.ini
Labels: Infrastructure, No Changelog Entry Needed

#326 Refactor NDCubeSequence tests
  ndcube/tests/conftest.py
  ndcube/tests/test_ndcubesequence.py
Labels: NDCube 2.0 MVP, No Changelog Entry Needed

#323 Global Coords Implementation
  changelog/323.feature.rst
  ndcube/global_coords/__init__.py
  ndcube/global_coords/global_coords.py
  ndcube/ndcube.py
  ndcube/tests/test_global_coords.py
  ndcube/utils/wcs.py
Labels: NDCube 2.0 MVP

#335 NDCubeSequence.sequence_axis_coords
  changelog/335.feature.rst
  changelog/335.removal.rst
  ndcube/__init__.py
  ndcube/ndcube_sequence.py
  ndcube/tests/conftest.py
  ndcube/tests/test_ndcubesequence.py
Labels: NDCube 2.0 MVP

#339 Add justification of ndcube and 2.0 to docs intro.
  docs/introduction.rst
Labels: No Changelog Entry Needed

#327 Implement axis_world_coords
  changelog/327.feature.rst
  docs/api.rst
  ndcube/conftest.py
  ndcube/extra_coords/extra_coords.py
  ndcube/extra_coords/lookup_table_coord.py
  ndcube/ndcube.py
  ndcube/tests/conftest.py
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_41_sunpy_203.json
  ndcube/tests/figure_hashes_mpl_332_ft_261_astropy_dev_sunpy_dev.json
  ndcube/tests/test_extra_coords.py
  ndcube/tests/test_lookup_table_coord.py
  ndcube/tests/test_ndcube.py
  ndcube/tests/test_utils_cube.py
  ndcube/tests/test_utils_wcs.py
  ndcube/utils/__init__.py
  ndcube/utils/cube.py
  ndcube/utils/misc.py
  ndcube/utils/wcs.py
Labels: NDCube 2.0 MVP

#344 Replace common_axis_extra_coords with common_axis_coords in NDCubeSequence
  changelog/344.bugfix.1.rst
  changelog/344.bugfix.2.rst
  changelog/344.feature.rst
  changelog/344.removal.rst
  ndcube/ndcube_sequence.py
  ndcube/tests/test_ndcubesequence.py
  ndcube/utils/wcs.py
Labels: NDCube 2.0 MVP

#347 Replace NDCollection.aligned_world_axis_physical_types
  changelog/347.feature.rst
  changelog/347.removal.rst
  ndcube/ndcollection.py
  ndcube/tests/test_ndcollection.py
Labels: NDCube 2.0 MVP

#353 Make return type of NDCube.axis_world_coords consistent.
  ndcube/ndcube.py
Labels: NDCube 2.0 MVP, No Changelog Entry Needed

#354 Carry over global_coords when slicing NDCube.
  ndcube/mixins/ndslicing.py
  ndcube/tests/test_ndcube.py
Labels: NDCube 2.0 MVP, No Changelog Entry Needed
