Repository sunpy/ndcube, pull requests merged in 2021-11, with the labels that each got.

#495 Enable NDCollection aligned axes to be input as any int type.
  changelog/495.bugfix.rst
  ndcube/utils/collection.py
Labels: [BugFix]

#500 Update CI and min dependancies
  .pre-commit-config.yaml
  azure-pipelines.yml
  changelog/500.bugfix.rst
  ndcube/visualization/tests/figure_hashes_mpl_332_ft_261_astropy_42_animators_100.json
  setup.cfg
  tox.ini
Labels: backport 2.0

#498 Fix the use of `axes_units=` when using the NDCube animator
  changelog/498.bugfix.rst
  ndcube/visualization/mpl_plotter.py
  ndcube/visualization/tests/figure_hashes_mpl_332_ft_261_astropy_42_animators_100.json
  ndcube/visualization/tests/figure_hashes_mpl_332_ft_261_astropy_dev_animators_dev.json
  ndcube/visualization/tests/test_plotting.py
Labels: backport 2.0

#499 Write Model for Length-1 Lookup Tables
  changelog/499.bugfix.rst
  ndcube/extra_coords/table_coord.py
  ndcube/extra_coords/tests/test_extra_coords.py
Labels: [BugFix], backport 2.0
