Repository sunpy/ndcube, pull requests merged in 2024-10, with the labels that each got.

#768 Backports for 2.2
  .circleci/config.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  changelog/767.feature.rst
  changelog/768.trivial.rst
  docs/conf.py
  docs/nitpick-exceptions
  ndcube/ndcube.py
  ndcube/utils/wcs_high_level_conversion.py
  ndcube/visualization/tests/figure_hashes_mpl_382_ft_261_astropy_600_animators_111.json
  ndcube/wcs/wrappers/tests/test_resampled_wcs.py
  setup.cfg
  tox.ini
Labels: No Changelog Entry Needed

#772 Add support for astropy 7
  changelog/772.bugfix.rst
  ndcube/extra_coords/tests/test_lookup_table_coord.py
  ndcube/wcs/wrappers/compound_wcs.py
  ndcube/wcs/wrappers/tests/conftest.py
  ndcube/wcs/wrappers/tests/test_compound_wcs.py
  ndcube/wcs/wrappers/tests/test_resampled_wcs.py
Labels: [BugFix], backport 2.2

#771 Fix `axis_world_coords` to not pass quantities as values
  ndcube/ndcube.py
  ndcube/tests/test_ndcube.py
Labels: [BugFix], No Changelog Entry Needed, Run cron CI, backport 2.2
