Repository sunpy/ndcube, pull requests merged in 2025-10, with the labels that each got.

#882 backport of pr 857 on 2.3
  changelog/857.bugfix.rst
  ndcube/tests/test_ndcube.py
  ndcube/wcs/wrappers/resampled_wcs.py
  ndcube/wcs/wrappers/tests/test_resampled_wcs.py
  pytest.ini
Labels: No Changelog Entry Needed

#883 Backport PR #881 on branch 2.3 (Nitpick documentation)
  docs/conf.py
  docs/nitpick-exceptions
  ndcube/ndcube.py
  ndcube/ndcube_sequence.py
  ndcube/utils/collection.py
  ndcube/utils/cube.py
Labels: No Changelog Entry Needed, Minor Change

#886 Backport PR #885 on branch 2.3 (Fix error in rebin docstring)
  changelog/885.doc.rst
  ndcube/ndcube.py
Labels: No Changelog Entry Needed, Documentation
